<div class="login-form">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Enter values : </mat-card-title>
        </mat-card-header>
        <p></p>
        <mat-card-content>
            <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Pay ID" [(ngModel)]="paymentid" name="paymentid" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Pay Status</mat-label>
                            <mat-select [(ngModel)]="paystatus" name="paystatus" required>
                              <mat-option value="0">Paused</mat-option>
                              <mat-option value="1">Done</mat-option>
                              <mat-option value="2">Refund</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Pay Type</mat-label>
                            <mat-select [(ngModel)]="paytype" name="paytype" required>
                              <mat-option value="0">Cash</mat-option>
                              <mat-option value="1">Card</mat-option>
                              <mat-option value="2">Online</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="add()" color="primary">Add</button>
        </mat-card-actions>
    </mat-card>
</div>